
<div class="page-wrapper">
	<h4>Welcome to Expenses Planner!</h4>


	<div class="row">
		<div class="col-xs-12">
			<p>The solution that will help you to organize yours finances!</p>
		</div>


		<div class="col-xs-6">
			<a href="/users/new" class="btn btn-primary">Get Started for Free</a>
		</div>

		<div class="col-xs-6">
			<a href="/users/login" class="btn btn-success">Or Login if already a member</a>
		</div>

	</div>
</div>