// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal { 
margin: 1em;
}

.category-row{
text-align: center;
font-weight: bold;
}

.page-wrapper{
width: 500px;
margin: auto;
border: 1px solid #ccc;
background-color: rgba(255,255,255, 10);
height: 800px;
margin-top: 3em;
padding: 2em;
}