<!DOCTYPE html>
<html>
<head>
	<title>Gastos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="skin-blue fixed">
	<div class="wrapper">
		<header class="main-header">
			<a href="/" class="logo">Gastos App</a>
			<nav class="navbar navbar-static-top" role="navigation"></nav>
		</header>

		<!-- <aside class="main-sidebar">
		
			<div class="slimScrollDiv">
				<div class="sidebar" id="scrollspy">
				
					<ul class="nav sidebar-menu">
						<li class="header">Menu</li>
						<li class="">
							<a href="#introduction"><i class="fa fa-circle-o"></i>Foo</a>
						</li>
					</ul>
				</div>
				<div class="slimScrollBar">				
				</div>
				<div class="slimScrollRail">				
				</div>
			</div>
		</aside> -->

		<div class="content-wrapper">
			<%= yield %>
		</div>
	</div>
</body>
</html>
